body
{
    color: white;
    font-size: 16px;
    background-color: #075c12;
    margin: 0;
    padding: 0;
}
#main_div
{
    padding-top: 200px;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    background-color: black;
    font-size: 20px;
    width: 60%;
    float: right;
    height: 400px;
}
#div_flex
{
    width: 40%;
    display: flex;
    flex-direction: column;
    float: left;
    position: absolute;
    height: 400px;
    background-color: black;
}
#div_click
{
    flex: 1 1 auto;
    text-align: center;
    background-color: brown;
    height: 40px;
}
#div1
{
    flex: 1 1 auto;
    text-align: center;
    background-color: brown;
    background-image: url('worker.png');
    color: black;
    font-weight: bold;
}
#div2
{
    flex: 1 1 auto;
    text-align: center;
    background-color: red;
    background-image: url('farm.png');
    color: black;
    font-weight: bold;
}
#div3
{
    flex: 1 1 auto;
    text-align: center;
    background-color: tomato;
    background-image: url('factory.png');
    color: black;
    font-weight: bold;
}
#count
{
    margin: auto;
    padding: auto;
}